{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">About GitHub Connector</h1>
        <p class="lead">GitHub Connector is a social media application that allows people with
            similar tech experience to connect with each other.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
        </p>
    </div>
{% endblock %}