{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Help</h1>
        <hr class="my-4">
        <br>
        <p class="lead">1. Create a GitHub Connector user account.
            You are able to log out of or delete this account at any time.
        </p>
        <br>
        <p class="lead">2. Attach a valid GitHub account. Once a GitHub account is linked,
            your profile will be built and suggestions for connections will be made based on
            the tech stack you are using.
        </p>
        <br>
        <p class="lead">3. Connect! You can send connection requests and
            accept or reject connections requests sent to you.
        </p>
        <br>
        <hr class="my-4">
    </div>
{% endblock %}