{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <h5>{{ user.username }}</h5>
                <div><img src="{{ user.avatar(96) }}" class="rounded-circle"></div>
                <h5>Connected GitHub Account: {{ user.github }}</h5>
                <h3>Languages: </h3>
                <h6>{% for key, value in user.languages.items() %} {{ key }}| {% endfor %}</h6>
                <br>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <form action="{{ url_for('remove_connection', username=user.username) }}" method="post">
                            {{ form.submit(value='Remove Connection', class_='btn btn-outline-dark') }}
                        </form>
                    </li>
                    <br>
                    <hr class="d-sm-none">
                </ul>
            </div>
            <div class="col-sm-5">
                {% for post in posts %}
                    {% include '_post.html' %}
                    {% if current_user.has_liked_post(post) %}
                        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
                    {% else %}
                        <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
                    {% endif %}
                    {{ post.likes.count() }} likes
                {% endfor %}
                <ul class="nav nav-pills justify-content-center">
                {% if prev_url %}
                    <li class="previous disabled">
                        <a class="nav-item nav-link" href="{{ prev_url or '#' }}">
                            <span aria-hidden="true"></span> Previous
                        </a>
                    </li>
                {% endif %}
                {% if next_url %}
                    <li class="next disabled">
                        <a class="nav-item nav-link" href="{{ next_url or '#' }}"> Next <span
                                aria-hidden="true"></span>
                        </a>
                    </li>
                {% endif %}
                </ul>


            </div>
            <div class="col-sm-3">
                <h4>Repositories</h4>
                <br>
                {% if user.repos == None %}
                {% else %}
                    {% for key, value in user.repos.items() %}
                        <form>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a class="nav-item nav-link" href="{{ value }}">
                                        <span aria-hidden="true"></span> {{ key }}
                                    </a>
                                </li>
                            </ul>
                        </form>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}