{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <h5>{{ user.username }}</h5>
                <div><img src="{{ user.avatar(128) }}" class="rounded-circle"></div>
                <h5>Some text about me in culpa qui officia deserunt mollit anim..</h5>
                <h3>Languages: </h3>
                <h6>{% for key, value in user.languages.items() %} {{ key }}| {% endfor %}</h6>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('connections') }}">Connections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-5">
                {% if form %}
                    {{ wtf.quick_form(form) }}
                    <br>
                {% endif %}
                {% for post in posts %}
                    {% include '_post.html' %}
                {% endfor %}

            </div>
            <div class="col-sm-3">
                <h4>Suggested Connections</h4>
                <br>
                {% for person in post_conn %}
                    {% if not current_user.is_requested(person) %}
                        {% if not person.is_requested(current_user) %}
                            <form action="{{ url_for('send_request', username=person.username) }}" method="post">
                                <ul class="list-group" style="width: 16rem;">
                                    <li class="list-group-item d-flex justify-content-end"><img
                                            src="{{ person.avatar(40) }}" class="rounded-circle"> {{ person.username }}
                                        {{ form.hidden_tag() }}
                                        <p>&nbsp;</p>
                                        {{ form.submit(value='Send Request') }}
                                    </li>
                                </ul>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}