{% extends "base.html" %}

{% block content %}

<style>
    .comment-section{
        text-align: left;
        border: 2px solid rgb(158, 158, 158);
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .comment{
        height: 200px;
        overflow: auto;
    }

    .new-comment{
        margin-top: 20px;
    }

    .large-button{
        width: 100%;
    }
</style>

<br>
<div class="card border-dark p-3 mb-2 bg-light text-dark text-center mx-auto" style="width: 40rem;">
  <div class="card-body">
    <h1 class="card-title">Comments Feed</h1>
	<br>

    <div>
        {% for comment in comments  %}
        <div class="comment-section" >

            <div class="comment" >
                <p class="label-control" >
                    <div>{{ comment.get_user().username }}</div>
                    <div>{{ comment.get_date_posted() }}</div>
                </p>
                <p>
                   {{ comment.message }}
                </p>
                {% if current_user_id == comment.get_user().id %}
                    <a href="{{ url_for('delete_comment', comment_id=comment.id) }}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
        <br />
        {% endfor %}
            {% if prev_url %}
        <a href="{{ prev_url }}">Newer comments</a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}">Older comments</a>
        {% endif %}

        <form method="POST" action="" class="new-comment" >
            {{ form.hidden_tag() }}
            <div>Post a New Comment</div>
            <div class="form-group">
                <textarea name="message" required rows="6" class="form-control" ></textarea>
            </div>
            <div class="form-group" >
                <button class="btn btn-primary large-button " >Submit</button>
            </div>
        </form>
    </div>

  </div>
</div>

{% endblock %}