
{% extends 'base.html' %}

{% block header %}
    <title>Welcome to GitHub Connector (Template)</title>
{% endblock %}

{% block content %}

  <div class="dark-back">
    <div class="container">
      <h4 id="welcome_status">Welcome, {{ current_user.username }}!</h4>
	  <br>
	  <h6 id="welcome_github_status">Using GitHub account: {{ github_account }}</h6>
      <p class="welcome-text">Explore below.</p>
        <a href="http://127.0.0.1:5000/api/{{ github_account }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Build Profile</a>

    </div>
  </div>




{% endblock %}
