{% extends 'base.html' %}

{% block header %}
    <title>Welcome to GitHub Connector (Template)</title>
{% endblock %}

{% block content %}

    <div class="dark-back text-center">
        <div class="container">
            <h4 id="welcome_status">Welcome, {{ current_user.username }}!</h4>
            <br>
            <h6 id="welcome_github_status">Using GitHub account: {{ github_account }}</h6>
            <p class="welcome-text">Explore Your Languages Below.</p>

            <ul>
                {% for key, value in current_user.languages.items() %}
                    <dt>{{ key }}</dt>
                    <dd>{{ value }} bytes</dd>
                {% endfor %}
            </ul>

        </div>
    </div>




{% endblock %}
